
[Desktop Entry]
Name=RTL-SDR FM Player
Comment=FM radio player
Icon=/home/pi/software/github/rtl_sdr_fm_player/desktop_icon.png
Exec=/home/pi/software/github/rtl_sdr_fm_player/fmplayerctl
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
